.form {
  display: flex;
  flex-direction: column;
  border: 1px solid tomato;
  width: 340px;
}

.formTitle {
  margin: 12px 0;
}

.formLabel {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.formParagraph {
  margin: 4px 0;
}
